@model IEnumerable<GrupoCometa.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Productos</h2>

<p>
    @Html.ActionLink("Insertar Nuevo", "Insert", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.idCodigo)</th>
            <th>@Html.DisplayNameFor(model => model.cNombre)</th>
            <th>@Html.DisplayNameFor(model => model.mPrecio)</th>
            <th>@Html.DisplayNameFor(model => model.nCantidad)</th>
            <th>@Html.DisplayNameFor(model => model.idTipo)</th>
            <th>@Html.DisplayNameFor(model => model.cModelo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.idCodigo)</td>
                <td>@Html.DisplayFor(modelItem => item.cNombre)</td>
                <td>@Html.DisplayFor(modelItem => item.mPrecio)</td>
                <td>@Html.DisplayFor(modelItem => item.nCantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.idTipo)</td>
                <td>@Html.DisplayFor(modelItem => item.cModelo)</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { idCodigo = item.idCodigo }, new { @class = "btn btn-default" }) 
                    @Html.ActionLink("Detalles", "Details", new { idCodigo = item.idCodigo }, new { @class = "btn btn-default" }) 
                    @Html.ActionLink("Eliminar", "Delete", new { idCodigo = item.idCodigo }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </tbody>    
</table>

@section scripts
{
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "searching": false,
            "lengthChange": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.9/i18n/Spanish.json"
            }

        });
    });
</script>
}