@model GrupoCometa.Models.Inventario

@{
    ViewBag.Title = "Editar";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Editar Elemento del Inventario</h2>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    
        @*<h4>Inventario</h4>*@

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Formulario de Edición de Elementos en el Inventario</div>
                    <div class="panel-body">

                        <div class="row form-group">
                            @Html.LabelFor(model => model.idInventario, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.idInventario, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.idInventario, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.idProducto, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.idProducto, Model.listaProductos, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idProducto, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.idAlmacen, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.idAlmacen, Model.listaAlmacenes, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idAlmacen, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.nCantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nCantidad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nCantidad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.idEstado, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.idEstado, Model.listaEstados, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idEstado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.dtFechaIngreso, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.dtFechaIngreso, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.dtFechaIngreso, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <input type="submit" value="Editar Inventario" class="btn btn-default" />
                                    <button class="btn-default btn btnCancelar" type="button" onclick="window.location.href = '@Url.Action("Index", "Cliente")';">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                  
                    
                    }

                  
                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
