@model GrupoCometa.Models.FacturaHeader

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Facturación</h2>

<h3>¿Está seguro de que desea eliminar esta factura?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idFacturaHeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idFacturaHeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idTipoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTipoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtFechaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtFechaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cEmpresa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
