@model IEnumerable<GrupoCometa.Models.FacturaHeader>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idFacturaHeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTipoPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtFechaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cEmpresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idFacturaHeader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtFechaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cEmpresa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
