@model GrupoCometa.Models.Suplidor

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Producto</h2>

<h3>¿Está seguro que desea eliminar este suplidor?</h3>
<div>
    @*<h4>Suplidor</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idSuplidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idSuplidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cRepresentante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cRepresentante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cTelefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cDireccion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
